* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-color: #112ca0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: auto;
    margin: 0 auto;
}

.form_container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 100vh; 
 padding: 50px;
 gap: 70px;

}


.form_text {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    text-align: justify;
    color: white;
    min-width: 50%;


}
.form_text h1{
    font-size: 90px;
    padding-bottom: 8px;
}
.form_text p{
    font-size: 25px;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
width:100%;
  min-width:700px;
    
}
input[type="text"],
input[type="email"],
input[type="tel"]
{
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    background-color: white;
   margin-bottom: 15px;
}
textarea{
  width: 100%;
    min-height: 200px;
    padding: 15px;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    background-color: white;
}
.forms_p{
    display: flex;
    justify-content: space-between;

}
.forms_p p{
    flex: 1;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.row input{
    flex: 1;
}
p{
    color: #fff;
    margin-bottom: 5px;
}
button{
    width: 50%;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    margin-top: 10git px;
}

button:hover{
    background-color: #ff8f26;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0,0,0,0.3);
}

button:active{
    transform: translateY(0);
    box-shadow: 0 3px 4px rgba(0,0,0,0.2);
}